<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Before">
    <f:asset.module identifier="@netresearch/nr-vault/SecretForm.js" />
</f:section>

<f:section name="Content">
    <h1><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.create.title" /></h1>

        <form method="post"
              action="{f:be.uri(route: 'admin_vault_secrets.store')}"
              name="vaultSecret"
              enctype="multipart/form-data"
              autocomplete="off"
              data-form-type="other"
              data-lpignore="true"
              data-1p-ignore="true"
              data-bwignore="true"
              data-protonpass-ignore="true">
            <!-- Honeypot fields to confuse password managers -->
            <div style="position:absolute;left:-9999px;top:-9999px;" aria-hidden="true">
                <input type="text" name="username_fake" tabindex="-1" autocomplete="username" />
                <input type="password" name="password_fake" tabindex="-1" autocomplete="current-password" />
            </div>

            <fieldset class="form-section">
                <legend><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.create.required" /></legend>

                <div class="form-group">
                    <label for="secret-identifier" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.identifier" />
                        <span class="text-danger" aria-hidden="true">*</span>
                    </label>
                    <input type="text"
                           id="secret-identifier"
                           name="identifier"
                           class="form-control"
                           required
                           pattern="[a-zA-Z0-9_\-\.]+"
                           aria-required="true"
                           aria-describedby="identifier-help"
                           placeholder="my-api-key"
                           autocomplete="off"
                           data-1p-ignore="true"
                           data-lpignore="true"
                           data-bwignore="true"
                           data-protonpass-ignore="true"
                           data-form-type="other" />
                    <div id="identifier-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.identifier.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="secret-value" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.secret" />
                        <span class="text-danger" aria-hidden="true">*</span>
                    </label>
                    <div class="input-group">
                        <input type="password"
                               id="secret-value"
                               name="secret"
                               class="form-control"
                               required
                               aria-required="true"
                               aria-describedby="secret-help"
                               autocomplete="new-password"
                               data-1p-ignore="true"
                               data-lpignore="true"
                               data-bwignore="true"
                               data-protonpass-ignore="true"
                               data-form-type="other" />
                        <button type="button"
                                class="btn btn-default"
                                onclick="toggleSecretVisibility(this)"
                                aria-label="Toggle secret visibility">
                            <core:icon identifier="actions-eye" size="small" />
                        </button>
                    </div>
                    <div id="secret-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.secret.help" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-section mt-4">
                <legend><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.create.optional" /></legend>

                <div class="form-group">
                    <label for="secret-description" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.description" />
                    </label>
                    <textarea id="secret-description"
                              name="description"
                              class="form-control"
                              rows="2"
                              aria-describedby="description-help"></textarea>
                    <div id="description-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.description.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="secret-owner" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.owner" />
                    </label>
                    <select id="secret-owner"
                            name="owner"
                            class="form-select"
                            aria-describedby="owner-help">
                        <f:for each="{backendUsers}" as="user">
                            <option value="{user.uid}" selected="{f:if(condition: '{user.uid} == {currentUserId}', then: 'selected')}">
                                {user.username}<f:if condition="{user.realName}"> ({user.realName})</f:if>
                            </option>
                        </f:for>
                    </select>
                    <div id="owner-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.owner.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="secret-groups" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.groups" />
                    </label>
                    <select id="secret-groups"
                            name="groups[]"
                            class="form-select"
                            multiple
                            size="5"
                            aria-describedby="groups-help">
                        <f:for each="{backendGroups}" as="group">
                            <option value="{group.uid}">
                                {group.title}
                            </option>
                        </f:for>
                    </select>
                    <div id="groups-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.groups.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="secret-context" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.context" />
                    </label>
                    <input type="text"
                           id="secret-context"
                           name="context"
                           class="form-control"
                           placeholder="production"
                           aria-describedby="context-help" />
                    <div id="context-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.context.help" />
                    </div>
                </div>

                <div class="form-check form-group">
                    <input type="checkbox"
                           id="secret-frontend-accessible"
                           name="frontendAccessible"
                           class="form-check-input"
                           value="1"
                           aria-describedby="frontend-accessible-help" />
                    <label for="secret-frontend-accessible" class="form-check-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.frontendAccessible" />
                    </label>
                    <div id="frontend-accessible-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.frontendAccessible.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="secret-expires" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.expiresAt" />
                    </label>
                    <input type="datetime-local"
                           id="secret-expires"
                           name="expiresAt"
                           class="form-control"
                           aria-describedby="expires-help" />
                    <div id="expires-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.expiresAt.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="secret-pid" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.pid" />
                    </label>
                    <div class="input-group">
                        <input type="number"
                               id="secret-pid"
                               name="pid"
                               class="form-control"
                               min="0"
                               aria-describedby="pid-help" />
                        <button type="button"
                                id="browse-page-btn"
                                class="btn btn-default"
                                title="Browse pages">
                            <core:icon identifier="actions-insert-record" size="small" />
                        </button>
                    </div>
                    <span id="secret-pid-preview" class="form-text text-primary d-none"></span>
                    <div id="pid-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.pid.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="secret-metadata" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.metadata" />
                    </label>
                    <textarea id="secret-metadata"
                              name="metadata"
                              class="form-control font-monospace"
                              rows="3"
                              placeholder='{"key": "value"}'
                              aria-describedby="metadata-help"></textarea>
                    <div id="metadata-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.metadata.help" />
                    </div>
                </div>
            </fieldset>

            <div class="form-actions mt-4 d-flex gap-2">
                <button type="submit" class="btn btn-primary">
                    <core:icon identifier="actions-check" size="small" />
                    <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.create.submit" />
                </button>
                <f:be.link route="admin_vault_secrets" class="btn btn-default">
                    <core:icon identifier="actions-close" size="small" />
                    <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.create.cancel" />
                </f:be.link>
            </div>
        </form>

    <f:asset.script identifier="vault-toggle-visibility" useNonce="true">
        function toggleSecretVisibility(button) {
            var input = button.previousElementSibling;
            if (input.type === 'password') {
                input.type = 'text';
                button.setAttribute('aria-label', 'Hide secret');
            } else {
                input.type = 'password';
                button.setAttribute('aria-label', 'Show secret');
            }
        }
    </f:asset.script>
</f:section>

</html>
