<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <h1><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.title" /></h1>

        <f:be.infobox title="{f:translate(key: 'LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.warning.title')}" state="{f:constant(name: 'TYPO3\CMS\Core\Type\ContextualFeedbackSeverity::WARNING')}">
            <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.warning" />
        </f:be.infobox>

        <div class="card card-size-medium mb-4">
            <div class="card-header">
                <div class="card-header-body">
                    <h2 class="card-title"><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.current" /></h2>
                    <span class="card-subtitle"><code>{identifier}</code></span>
                </div>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-3"><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.identifier" /></dt>
                    <dd class="col-sm-9"><code>{identifier}</code></dd>

                    <f:if condition="{metadata.description}">
                        <dt class="col-sm-3"><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.description" /></dt>
                        <dd class="col-sm-9">{metadata.description}</dd>
                    </f:if>

                    <dt class="col-sm-3"><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.owner" /></dt>
                    <dd class="col-sm-9">{metadata.owner_uid}</dd>

                    <dt class="col-sm-3"><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.created" /></dt>
                    <dd class="col-sm-9">{metadata.crdate -> f:format.date(format: 'Y-m-d H:i:s')}</dd>

                    <dt class="col-sm-3"><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.updated" /></dt>
                    <dd class="col-sm-9">{metadata.tstamp -> f:format.date(format: 'Y-m-d H:i:s')}</dd>

                    <dt class="col-sm-3"><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.read_count" /></dt>
                    <dd class="col-sm-9">{metadata.read_count}</dd>
                </dl>
            </div>
        </div>

        <form method="post"
              action="{f:be.uri(route: 'admin_vault_secrets.rotate', parameters: '{identifier: identifier}')}"
              aria-labelledby="rotate-secret-heading"
              autocomplete="off"
              data-form-type="other"
              data-lpignore="true"
              data-1p-ignore="true"
              data-bwignore="true"
              data-protonpass-ignore="true">
            <!-- Honeypot fields to confuse password managers -->
            <div style="position:absolute;left:-9999px;top:-9999px;" aria-hidden="true">
                <input type="text" name="username_fake" tabindex="-1" autocomplete="username" />
                <input type="password" name="password_fake" tabindex="-1" autocomplete="current-password" />
            </div>

            <h2 id="rotate-secret-heading" class="visually-hidden">
                <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.title" />
            </h2>

            <fieldset class="form-section">
                <legend><f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.new" /></legend>

                <div class="form-group">
                    <label for="new-secret" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.secret" />
                        <span class="text-danger" aria-hidden="true">*</span>
                    </label>
                    <div class="input-group">
                        <input type="password"
                               id="new-secret"
                               name="secret"
                               class="form-control"
                               required
                               aria-required="true"
                               aria-describedby="secret-help"
                               autocomplete="new-password"
                               data-1p-ignore="true"
                               data-lpignore="true"
                               data-bwignore="true"
                               data-protonpass-ignore="true"
                               data-form-type="other" />
                        <button type="button"
                                class="btn btn-default"
                                onclick="toggleSecretVisibility(this)"
                                aria-label="Toggle secret visibility">
                            <core:icon identifier="actions-eye" size="small" />
                        </button>
                    </div>
                    <div id="secret-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.secret.help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="rotate-reason" class="form-label">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.reason" />
                    </label>
                    <input type="text"
                           id="rotate-reason"
                           name="reason"
                           class="form-control"
                           placeholder="Scheduled rotation"
                           aria-describedby="reason-help" />
                    <div id="reason-help" class="form-text">
                        <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.reason.help" />
                    </div>
                </div>
            </fieldset>

            <div class="form-actions mt-4 d-flex gap-2">
                <button type="submit" class="btn btn-warning">
                    <core:icon identifier="actions-refresh" size="small" />
                    <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.submit" />
                </button>
                <f:be.link route="admin_vault_secrets" class="btn btn-default">
                    <core:icon identifier="actions-close" size="small" />
                    <f:translate key="LLL:EXT:nr_vault/Resources/Private/Language/locallang_mod.xlf:secrets.rotate.cancel" />
                </f:be.link>
            </div>
        </form>

    <f:asset.script identifier="vault-toggle-visibility" useNonce="true">
        function toggleSecretVisibility(button) {
            var input = button.previousElementSibling;
            if (input.type === 'password') {
                input.type = 'text';
                button.setAttribute('aria-label', 'Hide secret');
            } else {
                input.type = 'password';
                button.setAttribute('aria-label', 'Show secret');
            }
        }
    </f:asset.script>
</f:section>

</html>
